PORT=3005
ENVIRONMENT=DEVELOPMENT
DB_URL_PROD=
DB_URL_DEV=mongodb+srv://2100032125cseh_db_user:90e4GsmZmNbCKFwU@hrms.xbng5jt.mongodb.net
ACCESS_TOKEN=
REFRESH_TOKEN=
CLIENT_ORIGINS=http://localhost:3000,http://localhost:5173,https://hrm-browser-git-main-hrm14.vercel.app
